@import '../../../scss/variables.module.scss';

.searchWrapper {
  display: flex;
  position: relative;

  input {
    height: 50px;
    padding: 12px;
    min-width: 300px;
    border-radius: 32px;
    border: 1px solid $inactiveGrey;
    font-family: $primaryFont;
    font-size: 14px;
    color: $black;
    font-weight: 400;
    box-sizing: border-box;
    transition: all 0.3s ease;
    
    &::placeholder {
      color: $grey;
      font-weight: 300;
      
    }
    &:focus {
      outline: none;
      border: 1px solid $secondaryBlue;
    }
  }
  .iconContainer {
    position: absolute;
    top: 4px;
    right: 4px;
    cursor: pointer;
    background-color: $secondaryBlue;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    border-radius: 32px;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: $primaryBlue;
    }

    > div {
      background: url('../../../assets/icons/search-icon.svg') center center no-repeat;
      background-size: 100%;
      width: 16px;
      height: 16px;
      filter: invert(100%) sepia(1%) saturate(131%) hue-rotate(342deg) brightness(112%) contrast(100%);
    }
  }
}