@import '../../../scss/variables.module.scss';

.profileWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $primaryFont;

  h1 {
    color: $primaryRed;
    font-weight: 600;
  }
}