@import '../../../scss/variables.module.scss';

ul {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding-left: 0;
  min-height: 265px;
}
.senatorItem {
  display: flex;
  flex-direction: column;
  color: $primaryBlue;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 8px; 
  min-width: 200px;
  margin-bottom: 32px;

  span {
    color: $grey;
    font-size: 12px;
    font-weight: 300;
  }
  &:hover {
    background-color: #E6E6E6;
  }
}