$primaryRed: #BF0D3E;
$primaryBlue: #041E42;
$secondaryBlue: #1C4B6F;
$white: #FFFFFF;
$grey: #4E4E4E;
$black: #000000;

$inactiveGrey: #e8e8e8; 

// FONT
$primaryFont: 'Jost'; // Original: Public Sans 
